In [28]:
#NaiveBayes Project
import pandas as pd 
from sklearn.preprocessing import LabelEncoder #this module is used to convert strings to numbers
from sklearn.naive_bayes import GaussianNB

In [29]:
#Reading the csv files
df = pd.read_csv('weatherDataset.csv')
df

     Outlook  Temp Humidity Wind Play
0      Rainy   Hot     High    F   No
1      Rainy   Hot     High    T   No
2   Overcast   Hot     High    F  Yes
3      Sunny  Mild     High    F  Yes
4      Sunny  Cold   Normal    F  Yes
5      Sunny  Cold   Normal    T   No
6   Overcast  Cold   Normal    T  Yes
7      Rainy  Mild     High    F   No
8      Rainy  Cold   Normal    F  Yes
9      Sunny  Mild   Normal    F  Yes
10     Rainy  Mild   Normal    T  Yes

In [30]:
#Encoding the string to numericals
Numerics = LabelEncoder()

In [31]:
#Dropping the play column in the df and store it in the target column
inputs = df.drop('Play', axis='columns')
print("target")
target = df['Play']
target

target

0      No
1      No
2     Yes
3     Yes
4     Yes
5      No
6     Yes
7      No
8     Yes
9     Yes
10    Yes
Name: Play, dtype: object

In [32]:
#Creating dataframes with numeric values for their string counterpart
inputs['OutlookNum'] = Numerics.fit_transform(inputs['Outlook'])
inputs['TempNum'] = Numerics.fit_transform(inputs['Temp'])
inputs['HumidityNum'] = Numerics.fit_transform(inputs['Humidity'])
inputs['WindNum'] = Numerics.fit_transform(inputs['Wind'])
inputs

     Outlook  Temp Humidity Wind  OutlookNum  TempNum  HumidityNum  WindNum
0      Rainy   Hot     High    F           1        1            0        0
1      Rainy   Hot     High    T           1        1            0        1
2   Overcast   Hot     High    F           0        1            0        0
3      Sunny  Mild     High    F           2        2            0        0
4      Sunny  Cold   Normal    F           2        0            1        0
5      Sunny  Cold   Normal    T           2        0            1        1
6   Overcast  Cold   Normal    T           0        0            1        1
7      Rainy  Mild     High    F           1        2            0        0
8      Rainy  Cold   Normal    F           1        0            1        0
9      Sunny  Mild   Normal    F           2        2            1        0
10     Rainy  Mild   Normal    T           1        2            1        1

In [33]:
#Dropping the string values from the dataframe
inputsNum = inputs.drop(['Outlook', 'Temp', 'Humidity', 'Wind'], axis='columns')
inputsNum

    OutlookNum  TempNum  HumidityNum  WindNum
0            1        1            0        0
1            1        1            0        1
2            0        1            0        0
3            2        2            0        0
4            2        0            1        0
5            2        0            1        1
6            0        0            1        1
7            1        2            0        0
8            1        0            1        0
9            2        2            1        0
10           1        2            1        1

In [34]:
#Applying the Gaussian NaiveBayes by creating a classifer
Classifier = GaussianNB()
Classifier.fit(inputsNum, target)

GaussianNB()

In [35]:
#Checking its Accuracy.. 90.9%
Classifier.score(inputsNum, target)

0.9090909090909091

In [36]:
#Prediction 
Result = Classifier.predict([[1, 1, 0, 0]])
Result[0]

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but GaussianNB was fitted with feature names
  warnings.warn(

'No'

In [37]:
import joblib
joblib.dump(Classifier, 'weatherDataModel.pkl')

['weatherDataModel.pkl']